{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo.jpg' %}">
</head>
<body style="background-color: #fef3c7; padding: 20px; font-family: Arial, sans-serif; text-align: center;">
    <div style="max-width: 500px; margin: auto; background: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h2 style="color: #ea580c;">Password Reset Request</h2>
        <p>Salut! {{ user.username }},</p>
        <p>Vous avez demandé une réinitialisation de votre mot de passe. Cliquez sur le bouton ci-dessous pour le réinitialiser :</p>
        <a href="{{ reset_link }}" style="display: inline-block; background: #ea580c; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; margin-top: 10px;">Reset Password</a>
        <p style="margin-top: 20px; color: gray;">Si vous n’avez pas demandé cela, veuillez ignorer cet e-mail.</p>
    </div>
</body>
</html>
