{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo.jpg' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-orange-300 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-bold text-center text-orange-600 mb-4">Set a New Password</h2>
        <p class="text-center text-gray-600 mb-6">Enter a new password for your account.</p>
        
        <form method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="password1" class="block text-gray-700 font-semibold">New Password</label>
                <input type="password" id="password1" name="password1" required class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500">
            </div>
            <div class="mb-4">
                <label for="password2" class="block text-gray-700 font-semibold">Confirmer votre Mots de Passe</label>
                <input type="password" id="password2" name="password2" required class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500">
            </div>
            <button type="submit" class="w-full bg-orange-500 text-white py-2 rounded-lg hover:bg-orange-600">Supprimer Votre Mots de  Passe</button>
        </form>

        <div class="text-center mt-4">
            <a href="{% url 'login' %}" class="text-orange-600">Retourner</a>
        </div>
    </div>
</body>
</html>
